<h1><%= @author.pen_name %></h1>

<b>Name:</b> <%= @author.name %><br><br>
<b>Location:</b> <%= @author.location %><br><br>

<h1>Reviews</h1>
<% if @author.reviews.empty? %>
  <%= "You have not made any reviews." %>
<% else %>
  <% @author.reviews.each do |review| %>
    <% if review.submission.nil? %>
      <%= "The submission you reviewed was deleted." %>
    <% else %>
      <ul>
        <li><%= link_to review.comment, submission_path(review.submission) %></li>
        <%= button_to "Delete Review", review, :method => :delete %><br><br>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h1>Submissions</h1>
<ul>
  <% @author.submissions.each do |submission| %>
    <li>
      <%= link_to submission.title, submission_path(submission) %><br>
      <%= link_to "Edit Submission", edit_submission_path(submission) %>
      <%= button_to "Delete Submission", submission, :method => :delete %><br><br>
    </li>
  <% end %>
</ul>

<%= link_to "Create Submission", new_submission_path %>  |  <%= link_to "Update Account", edit_author_path %><br><br>
