<h1><%= @author.pen_name %></h1>

<b>Name:</b> <%= @author.name %><br><br>
<b>Location:</b> <%= @author.location %><br><br>

<h1>Submissions</h1>
<% if @author.submissions.empty? %>
  <%= "#{@author.pen_name} has not made any submissions yet." %>
<% else %>
  <ul>
    <% @author.submissions.each do |submission| %>
      <% if !submission.nil? %>
        <li>
        <%= link_to submission.title, submission_path(submission) %>
        <br>
        <%= "#{submission.content.first(100)}..."%>
        </li>
        <br>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h1>Reviews</h1>
<% if @author.reviews.empty? %>
  <%= "#{@author.pen_name} has not left any reviews yet." %>
<% else %>
  <ul>
    <% @author.reviews.each do |review| %>
      <% if !review.submission.nil? %>
        <li><%= link_to review.comment.first(50), submission_path(review.submission) %> |
           <i><%="#{review.submission.title} by #{review.submission.author.pen_name}"%></i>
        </li>
      <% else %>
        <%= "The submission that #{@author.pen_name} reviewed was deleted." %>
      <% end %>
    <% end %>
  </ul>
<% end %>


