<h1><%= @submission.title %></h1>

<%= @submission.content %><br><br>

<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<br><br>
<% if !logged_in? || current_author != @submission.author %>
  <%= "Sign up or login to review this submission." %><br><br>
<% else %>
  Leave a review!<br><br>
  <%= form_for @review do |f| %>
    <%= f.text_area :comment %>
    <%= hidden_field_tag 'submission_id', "#{params[:id]}" %><br><br>
    <%= f.submit %>
  <% end %>
<% end %>

<% if @submission.reviews.empty? %>
  <%= "There are no reviews." %><br>
<% else %>
  <ul>
  <% @submission.reviews.each do |review| %>
    <li>
      <%= "#{review.author.pen_name} said:" %><br>
      <%= review.comment %>
    </li>
  <% end %>
  </ul>
<% end %>
<br>
