<h1><%= @submission.title %></h1>

<%= @submission.content %><br><br>

<% if @review.errors.any?%>
<ul>
<% @review.errors.full_messages.each do |message| %>
<li> <%= message %> </li>
<% end %>
</ul>
<%end%>


<%= form_for @review do |f| %>
  <%= f.label :comment%>
  <%= f.text_area :comment%>
  <%= hidden_field_tag 'submission_id', "#{params[:id]}"%>
  <%= f.submit %>
  <%end%>

<% if @submission.reviews.empty? %>
  <%= "There are no reviews." %><br>
<% else %>
  <ul>
  <% @submission.reviews.each do |review| %>
    <li>
      <%= "#{review.author.pen_name} said:" %><br>
      <%= review.comment %>
    </li>
  <% end %>
  </ul>
<% end %>
<br>

<!-- insert review form -->

<!-- should post newly created review on this page as well -->
