<h1>Analytics</h1>

<!-- Submissions Analytics--->
<b>Total Submissions: </b> <%= @submissions%><br><br>
<b>Most Reviewed Submission:</b> <%= @most_reviewed_submission %><br><br>

<!-- Review Analytics -->
<b>Total Reviews: </b> <%= @total_reviews%><br><br>

<!-- Genre Analytics -->
<b>Most Popular Genre:</b> <%= @most_popular_genre %><br><br>

<!-- Author Analytics-->
<b>Top Contributor:</b> <%= @top_contributor %><br><br>
<b>Total Number of Authors:</b> <%= @total_authors%>