<!DOCTYPE html>
<html>
  <head>
    <title>ReRev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navigation_one">
   <%= link_to "Home", "/", :class => 'button' %> <%= link_to "Authors", authors_path, :class => 'button' %> <%= link_to "Genres", genres_path, :class => 'button' %><%= link_to "Analytics", analytics_path, :class => 'button' %><br><br>
    </div>
    
    <br>
    <br>
  
    <div class="navigation_two">
    <% if logged_in? %>
     <%= "Hello, #{current_author.pen_name}!" %>
     <%= link_to "My Profile", author_path(current_author)%>
      <%= form_tag("/sessions", method: :delete) do %>
       <%= submit_tag "Logout" %>  
      <% end %>
      <% else %>
      <br>
    <%= link_to "Login", '/sessions/new', :class => 'button'%>   <%= link_to "Sign Up", new_author_path, :class => 'button' %>
    <% end %>
    </div>

    <br>
    <br>

    <%= yield %>
  </body>
</html>
